<mat-card>
    <mat-card-title>Login</mat-card-title>
    <mat-card-content>
        <form [formGroup]="loginForm" (ngSubmit)="submit()">
            <p *ngIf="error" class=" error">
                {{error}}
            </p>
            <p>
                <mat-form-field>
                    <mat-label>Username</mat-label>
                    <input type="text" id="username" matInput formControlName="username">
                    <mat-hint *ngIf="loginFormControls.username.invalid
                        && (loginFormControls.username.dirty || loginFormControls.username.touched)">
                        <div *ngIf="loginFormControls.username.errors?.['required']">
                            Usuario Requerido
                        </div>
                        <div *ngIf="loginFormControls.username.errors?.['minlength']">
                            El usuario debe contener un minimo de 4 caracteres
                        </div>
                    </mat-hint>
                </mat-form-field> 
            </p>
            <p>
                <mat-form-field>
                    <mat-label>Password</mat-label>
                    <input type="password" id="username" matInput formControlName="password">
                    <mat-hint *ngIf="loginFormControls.password.invalid
                    && (loginFormControls.password.dirty || loginFormControls.password.touched)">
                    Clave Requerida</mat-hint>
                </mat-form-field>
            </p>
            <div class="button">
                <button type="submit" mat-button color="primary">Log In</button>
            </div>
        </form>
    </mat-card-content>
</mat-card>

